.auth-container {
  display: flex;
  height: 100vh;
}

.auth-left,
.auth-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px;
}

.auth-left {
  background: #ffffff;
}

.auth-right {
  background: var(--primary-dark);
  color: white;
}

.auth-form {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.auth-form h2 {
  margin-bottom: 20px;
  font-weight: 500;
}

.auth-form input {
  padding: 12px;
  border: 1px solid #ddd;
  font-size: 14px;
}

.auth-form.admin input {
  background: #1f5f46;
  border: none;
  color: white;
}

.btn-primary-full {
  background: var(--primary-dark);
  color: white;
  padding: 12px;
  border: none;
  cursor: pointer;
}

.btn-dark-full {
  background: black;
  color: white;
  padding: 12px;
  border: none;
  cursor: pointer;
}

.error {
  color: #d32f2f;
  font-size: 13px;
}

.auth-links {
  font-size: 14px;
}

.auth-form.register {
  max-width: 450px;
}

.auth-form.register input {
  padding: 14px;
  font-size: 14px;
}

.auth-form.register h2 {
  text-align: center;
  margin-bottom: 30px;
}